<html>

<body>
<p> WELCOME to new page!!!!!!!!!!</p>
<form method="post" action="/login_allow/loginallow">
<label>Username</label>
<input type='text' id="user_name" name="user_name">

<label>Password</label>
<input type='password' id="password" name="password">
<button type="submit"> SUBMIT</button>
</form>
</body>
</html>